.badge {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
[class*="badge-"] {
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
  padding: 1px 8px;
  display: inline-block;
}
.badge-red {
  color: white;
  background-color: #f31e1e;
}
.badge-red-pale {
  color: #f31e1e;
  background: rgba(243, 30, 30, 0.15);
}
.badge-orange {
  color: white;
  background-color: #f99400;
}
.badge-orange-pale {
  color: #f99400;
  background: rgba(249, 148, 0, 0.15);
}
.badge-blue {
  color: white;
  background-color: #2f80ed;
}
.badge-blue-pale {
  color: #2f80ed;
  background: rgba(47, 128, 237, 0.15);
}
.badge-green {
  background-color: #219653;
  color: white;
}
.badge-green-pale {
  color: #219653;
  background: rgba(33, 150, 83, 0.15);
}
.filter-badge {
  padding: 5px 16px;
  display: inline-block;
  margin-top: 8px;
  margin-right: 4px;
  background-color: white;
  color: #828282;
  transition: all 0.25s;
}
.filter-badge:hover {
  color: black;
}
.filter-badge.selected {
  background-color: #4f4f4f;
  color: white;
}
.filter-badge.selected:hover {
  background-color: white;
  color: black;
}
.btn {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  background-color: #4f4f4f;
  color: #f2f2f2;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
}
.btn:hover,
.btn.light {
  background-color: #e0e0e0;
  color: #4f4f4f;
}
.btn p{
  padding-left: 8px;
  padding-right: 8px;
}
.btn.light:hover {
  background-color: #4f4f4f;
  color: #f2f2f2;
}
.btn-xs {
  padding: 1px 8px;
  font-weight: 400;
}
.btn-sm {
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-md {
  padding-top: 7px;
  padding-bottom: 7px;
}
.btn-lg {
  padding-top: 9px;
  padding-bottom: 9px;
}
.btn-xs.light {
  background-color: white;
  color: #828282;
  border: 1px solid white;
}
.btn-xs.ghost {
  background-color: transparent;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
}
.btn-xs.ghost.light {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.btn-xs.ghost:hover {
  background-color: transparent;
  color: white;
}
.btn-xs.ghost.light:hover {
  background-color: white;
  color: #4f4f4f;
}
.btn-rounded-sm {
  color: #F2F2F2;
  background-color: #828282;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 18px;
  font-weight: 400;
}
.btn-rounded-sm.light { 
  color: #828282;
  background-color: #E0E0E0;
}
.btn-rounded-sm:hover path {
  stroke: #4f4f4f;
}
.btn-rounded-sm.light:hover path {
  stroke: #f2f2f2;
}
.btn-rounded-sm.light:hover {
  color: #f2f2f2;
}
input,
select {
  color: #828282;
  border: 1px solid #e0e0e0;
}
input:hover,
select:hover {
  border: 1px solid #bdbdbd;
}
input:focus,
select:focus {
  color: #4f4f4f;
  border: 1px solid #828282 !important;
}
input:focus::placeholder,
select:focus::placeholder {
  color: #4f4f4f;
  opacity: 1; /* Firefox */
}
input:invalid,
select:invalid {
  border: 1px solid #f31e1e;
}
.switch {
  height: 40px;
  border-radius: 20px;
  padding: 4px 6px;
}
.switch .active,a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.switch .active {
  border-radius: 16px;
  background-color: white;
}
.switch a {
  border-radius: 16px;
}
.switch a:hover {
  color: #4f4f4f;
}
/*SWITCH SLIDER start*/
.tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: 16px;
  font-weight: 500;
}
.tab-slider--tabs {
  width: 100%;
  display: block;
  float: left;
  margin: 0;
  padding: 4px 0px;
  list-style: none;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 40px;
  user-select: none;
  background: #f2f2f2;
}
.tab-slider--tabs:after {
  content: "";
  width: 50%;
  height: 32px;
  background: white;
  position: absolute;
  top: 4px;
  left: 6px;
  transition: all 250ms ease-in-out;
  border-radius: 16px;
}
.tab-slider--tabs.slide:after {
  left: calc(50% - 6px);
}
.tab-slider--trigger {
  width: 50%;
  color: #828282;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 16px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  user-select: none;
}
.tab-slider--trigger.active {
  color: #4f4f4f;
}
.tab-slider--body {
  margin-bottom: 20px;
}
/*SWITCH SLIDER end*/