.product-image {
  padding-right: 12px;
  text-align: center;
}
.product-header {
  margin-top: 12px;
  margin-bottom: 16px;
}
.product-footer .product-qty {
  margin-right: 8px;
}
.product-footer .product-measure {
  margin-right: 8px;
}
.product-action-icons img {
  margin-left: 12px;
}
.product-name{
  margin-bottom: 4px;
}
p {
  margin-bottom: 0;
}
.product-footer {
  margin-top: 16px;
}
.product-old-price {
  margin-right: 5px;
}
.product-prices .qty {
  padding-top: 8px;
  padding-bottom: 8px;
}
[class*="badge-"] {
  height: 24px;
  border-radius: 12px;
  font-size: 16px;
  color:white;
  width: fit-content;
  height: fit-content;
  padding-inline: 8px;
  display: inline-block;
  margin-top: 8px;
  margin-right: 4px;
}

.btn {
  font-size: 16px !important;
  line-height: 22px !important;
  font-weight: 700;
  background-color: #4F4F4F;
  color: #f2f2f2;
  border: none;
}
.btn:hover {
  background-color: #E0E0E0;
  color: #4F4F4F;
}
.btn.light {
  background-color: #E0E0E0;
  color: #4F4F4F;
}
.btn.light:hover {
  background-color: #4F4F4F;
  color: #f2f2f2;
}
.btn-xs {
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: 400;
}
.btn-sm {
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-md {
  padding-top: 7px;
  padding-bottom: 7px;
}
.btn-lg {
  padding-top: 9px;
  padding-bottom: 9px;
}
.btn-xs.light {
  background-color: white;
  color: #828282;
}
.btn-xs.ghost {
  background-color: transparent;
  color: #4F4F4F;
  border: 1px solid #4F4F4F;
}
.btn-xs.ghost.light {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.btn-xs.ghost:hover {
  background-color: transparent;
  color: white;
}
.btn-xs.ghost.light:hover {
  background-color: transparent;
  color: #4F4F4F;
}