.body-bg {
  background-color: rgb(235, 235, 235) !important;
}
.gray-border-bottom {
  border-bottom: 1px solid #e5e5e5 !important;
}
.caption {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}
.body-medium {
  font-weight: 500;
}
.body-bold {
  font-weight: bold;
}
.subtitle-regular {
  font-size: 18px;
  line-height: 24px;
}
.subtitle-medium {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.subtitle-big-regular {
  font-size: 24px;
  line-height: 30px;
}
.subtitle-big-medium {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.gray-1 {
  color: #333333;
}
.gray-2 {
  color: #4f4f4f;
}
.bg-gray-2 {
  background-color: #4f4f4f;
}
.gray-3 {
  color: #828282;
}
.gray-4 {
  color: #bdbdbd;
}
.gray-5 {
  color: #e0e0e0;
}
.gray-6 {
  color: #f2f2f2;
}
.green-1 {
  color: #219653;
}
.green-2 {
  color: #27ae60;
}
.green-3 {
  color: #6fcf97;
}
.red-1 {
  color: #f31e1e;
}
.orange-1 {
  color: #f99400;
}
.bg-xs {
  border-radius: 4px;
}
.br-sm {
  border-radius: 8px;
}
.br-md {
  border-radius: 12px;
}
.br-lg {
  border-radius: 16px;
}
.br-xl {
  border-radius: 32px;
}
.shadow-sm {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.04);
}
.shadow-md {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.04), 0px 4px 10px rgba(0, 0, 0, 0.08);
}
.shadow-lg {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04), 0px 8px 32px rgba(0, 0, 0, 0.08);
}
.shadow-xl {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06),
    0px 24px 60px rgba(0, 0, 0, 0.12);
}
