:root {
  --gray-1: #333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-4: #bdbdbd;
  --gray-5: #e0e0e0;
  --gray-6: #f2f2f2;

  --green-1: #219653;
  --green-2: #27ae60;
  --green-3: #6fcf97;

  --red-1: #f31e1e;
  --orange-1: #f99400;

  --black: #000;
  --white: #fff;
  --no-color: transparent;

  --xs: 4px;
  --sm: 8px;
  --md: 12px;
  --lg: 16px;
  --bg: 18px;
  --xl: 24px;
  --xxl: 32px;
}

.body-bg {
  background-color: var(--gray-6) !important;
}
.bg-white {
  background-color: var(--white);
}
.gray-border-bottom {
  border-bottom: 1px solid var(--gray-border) !important;
}
.caption {
  font-size: 14px;
  line-height: var(--lg);
  display: flex;
  align-items: center;
}
.body-medium {
  font-weight: 500;
}
.body-bold {
  font-weight: bold;
}
.subtitle-regular {
  font-size: var(--bg);;
  line-height: var(--xl);
}
.subtitle-medium {
  font-size: var(--bg);;
  line-height: var(--xl);
  font-weight: 500;
}
.subtitle-big-regular {
  font-size: var(--xl);
  line-height: 30px;
}
.subtitle-big-medium {
  font-size: var(--xl);
  line-height: 30px;
  font-weight: 500;
}
.gray-1 {
  color: var(--gray-1);
}
.gray-2 {
  color: var(--gray-2);
}
.bg-gray-2 {
  background-color: var(--gray-2);
}
.gray-3 {
  color: var(--gray-3);
}
.gray-4 {
  color: var(--gray-4);
}
.gray-5 {
  color: var(--gray-5);
}
.gray-6 {
  color: var(--gray-6);
}
.green-1 {
  color: var(--green-1);
}
.green-2 {
  color: var(--green-2);
}
.green-3 {
  color: var(--green-3);
}
.red-1 {
  color: var(--red-1);
}
.orange-1 {
  color: var(--orange-1);
}
.blue-2 {
  color: #2D9CDB;
}
.br-xs {
  border-radius: var(--xs);
}
.br-sm {
  border-radius: var(--sm);
}
.br-md {
  border-radius: var(--md);
}
.br-lg {
  border-radius: var(--lg);
}
.br-xl {
  border-radius: var(--xxl);
}
.shadow-sm {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.04);
}
.shadow-md {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.04), 0px 4px 10px rgba(0, 0, 0, 0.08);
}
.shadow-lg {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04), 0px 8px 32px rgba(0, 0, 0, 0.08);
}
.shadow-xl {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06), 0px 24px 60px rgba(0, 0, 0, 0.12);
}
