.cart-product-image {
  padding-right: 12px;
  text-align: center;
}
.cart-product-header {
  margin-bottom: 16px;
}
.cart-product-qty {
  margin-bottom: 8px;
}
.cart-product-footer {
  margin-bottom: 16px;
}
.cart-product-qty-input {
  margin-right: 8px;
}
.cart-product-action-icons img {
  margin-left: 12px;
}
.cart-product-name{
  margin-bottom: 4px;
}
.cart-product-prices .price-single {
  margin-bottom: 4px;
}