.order-details {
  padding-right: 16px;
}
.order-date, .order-price {
  margin-bottom: 8px;
}
.component-full.order {
  margin-bottom: 8px;
}
.client-header {
  margin-top: 28px;
}
.client-header p {
  margin-bottom: 4px;
}
#main {
  background-color: white;
}
.switch {
  margin-top: 16px;
}