.order-details {
  padding-right: var(--lg);
}
.order-date, .order-price {
  margin-bottom: var(--sm);
}
.component-full.order {
  margin-bottom: var(--sm);
}
.client-header {
  margin-top: 28px;
}
.client-header p {
  margin-bottom: var(--xs);
}
#main {
  background-color: var(--white);
}
.client-detail {
  margin-bottom: var(--lg);
}
.details-label {
  margin-bottom: var(--xs);
}