.product-image {
  padding-right: 12px;
  text-align: center;
}
.product-header {
  margin-top: 12px;
  margin-bottom: 16px;
}
.product-footer .product-qty {
  margin-right: 8px;
}
.product-footer .product-measure {
  margin-right: 8px;
}
.product-action-icons img {
  margin-left: 12px;
}
.product-name{
  margin-bottom: 4px;
}
.product-footer {
  margin-top: 16px;
}
.product-old-price {
  margin-right: 5px;
}
.product-prices .qty {
  padding-top: 8px;
  padding-bottom: 8px;
}