.product-image {
  padding-right: var(--md);
  text-align: center;
}
.product-header {
  margin-top: var(--md);
  margin-bottom: var(--lg);;
}
.product-footer .product-qty {
  margin-right: var(--sm);
}
.product-footer .product-measure {
  margin-right: var(--sm);
}
.product-action-icons img {
  margin-left: var(--md);
}
.product-name{
  margin-bottom: var(--xs);
}
.product-footer {
  margin-top: var(--lg);;
}
.product-old-price {
  margin-right: 5px;
}
.product-prices .qty {
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}